* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 185);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.emptyspace {
  min-height: 100px;
  min-width: 100px;
}

.buttonleft {
  margin-left: 0px auto;
}
.buttonright {
  margin-right: 0px auto;
}
.buttonmiddle {
  margin-left: 0px auto;
}

.slidecontainer {
  margin: 0px auto; /* center */
  vertical-align: center;
  width: 60%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #00fff2;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #9900ff;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #9900ff;
  cursor: pointer; /* Cursor on hover */
}
